<form action="/restaurants/{{ restaurant._id }}?_method=PUT" method="POST">
  <div class="container create">
    <input type="text" required="required" placeholder="餐廳名，必填" name="name" value="{{restaurant.name}}">
    <input type="text" required="required" placeholder="餐廳英文名，必填" name="name_en" value="{{restaurant.name_en}}">
    <input type="text" placeholder="category" name="category" value="{{restaurant.category}}">
    <input type="URL" placeholder="image" name="image" value="{{restaurant.image}}">
    <input type="text" required="required" placeholder="位置，必填" name="location" value="{{restaurant.location}}">
    <input type="tel" placeholder="phone" name="phone" value="{{restaurant.phone}}">
    <input type="URL" required="required" placeholder="地圖網址，必填" name="google_map" value="{{restaurant.google_map}}">
    <input type="number" placeholder="評分，介於0-5之間" name="rating" min="0" max="5" step="0.1"
      value="{{restaurant.rating}}">
    <input type="text" placeholder="description" name="description" value="{{restaurant.description}}">
    <button type="submit">Save</button>
    <a href="/">Back</a>
  </div>
</form>